.accordion-slider {
  display: flex;
  text-align: center;
}

.accordion-size {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 38px;
  margin-top: 58px;
  width: 100%;
}

.border-btn {
  border: solid 8px #eeedeb;
  border-radius: 15px;
  max-width: 1200px;
  overflow: hidden;
  width: 100%;
}

.accordion {
  color: #444;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 18px;
  font-size: 15px;
  text-align: left;
  transition: 0.4s;
  width: 100%;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel > p {
  color: #1c1b1f;
  margin: 0;
  padding: 16px 18px;
  width: 100%;
}
