.head-logo {
  border-radius: 50px;
  border: 0.5px solid white;

  width: 72px;
  height: 72px;
}

.opener-img {
  height: 515px;
  
  background-image: url(../background-image-home/geschwungen-vector.png), url(../background-image-home/all-anime-opener.png);
  background-blend-mode: hard-light;
  background-repeat: no-repeat;
  background-position-y: center;
  max-width: 100%;
}

.slider_a_element > img{
  width: 1200px;
    height: 570px; 
}