.slider-image {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}

.slider-btn-size {
  height: 32px;
  width: 32px;
}


.slider_a {
  position: relative;

  background-color: black;

  aspect-ratio: 1200 / 533;
  height: 533px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  gap: 24px;
  padding: 32px;
  overflow: hidden;
}

.slider_a input {
  z-index: 2;
}

.slider_a_wrapper {
  z-index: 1;

  width: 300%;
  height: 100%;

  position: absolute;
  display: flex;

  transition: all 1s ease-in-out;
}

.slider_a_element {
  width: calc(100% / 3);
  height: 100%;
}

.slider_a_element > img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}


.slider_a input[value="one"]:checked ~ .slider_a_wrapper {
  transform: translateX(calc(100% / 3));
}

.slider_a input[value="tow"]:checked ~ .slider_a_wrapper {
  transform: translateX(0);
}

.slider_a input[value="three"]:checked ~ .slider_a_wrapper {
  transform: translateX(calc(-100% / 3));
}

@media (max-width: 760px) {
  .slider_a {
    height: auto;
    min-height: 320px;
  }
}
